<section id='blog' class="section-blog">
    <h2 class="section-blog__title">Blog</h2>
    <p class="section-blog__description">
        Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit.
    </p>
    <ul class="section-blog__list">
        <li class="section-blog__list-item card">
            <img class="card__image" src="images/mohito.png" alt="mohito" />
            <ul class="card__list">
                <li class="card__list-number">20</li>
                <li class="card__list-month">NOV</li>
            </ul>
            <div class="card__content">
                <h3 class="card__title">
                    Green Smoothies: Too Much of a Good Thing?
                </h3>
                <p class="card__info">By Auskteez - 2 hours ago</p>
            </div>
        </li>
        <li class="section-blog__list-item card">
            <img class="card__image" src="images/goroh.png" alt="goroh" />
            <div class="card__list">
                <span class="card__list-number">14</span>
                <span class="card__list-month">NOV</span>
            </div>
            <div class="card__content">
                <h3 class="card__title">
                    Growing Food and a “Thirst” for Innovation
                </h3>
                <p class="card__info">By Auskteez - 3 hours ago</p>
            </div>
        </li>
        <li class="section-blog__list-item card">
            <img class="card__image" src="images/malina.png" alt="malina" />
            <div class="card__list">
                <span class="card__list-number">10</span>
                <span class="card__list-month">NOV</span>
            </div>
            <div class="card__content">
                <h3 class="card__title">
                    Pesticides & Food: What You Need to Know?
                </h3>
                <p class="card__info">By Auskteez - 6 hours ago</p>
            </div>
        </li>
    </ul>
    <a class="button button--blog section-blog__button" href="#">View More</a>
</section>