<section id='subscribe' class="section-subscribe">
    <div class="container section-subscribe__container">
        <h2 class="section-subscribe__title">Subscribe To Us</h2>
        <p class="section-subscribe__description">
            Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.
            Ut enim ad minim veniam.
        </p>
        <form name="form" method="GET" action="input">
            <input type="email" class="section-subscribe__input" placeholder="Your email address...">
            <input class="button button--subscribe section-subscribe__button" type="submit" value="SUBSCRIBE">
        </form>
    </div>
</section>