:root {
  --black: #000000;
  --blue: #1275b9;
  --gray: #9d9d9d;
  --white: #ffffff;
  --change_color: #2a69a6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 56px;
  font-family: "Proxima Nova";
  text-align: center;
}
.footer {
  max-width: 860px;
  margin: 0 auto;
}

.content-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item {
  max-width: 220px;
}
.item__icon-wrapper {
  height: 63px;
  width: 63px;
  border-radius: 50%;
  color: var(--blue);
  border: 1px solid var(--blue);
  background-color: var(--blue);
  fill: var(--white);
  transition: all 0.2s ease;
  cursor: pointer;
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item__icon-wrapper:hover {
  background-color: var(--white);
  fill: var(--change_color);
}

.item__title {
  margin-bottom: 20px;
}
.item__description {
  color: var(--gray);
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: justify;
  text-indent: 1.5em;
  margin-bottom: 20px;
}
