.logo {
  font-size: $logo-fs;
  font-family: $logo-font;
  line-height: 1;
  transform: translateY(-6px);
  &--header {
    color: $dark;
  }
  &--footer {
    color: $grey-light;
    font-size: 25px;
    font-weight: 400;
    opacity: 0.7;
   
  }
}