@import url("weather-icons-wind.css");
@import url("weather-icons.css");

:root {
  --main-color: #3399cc;
  --lisabon-color: #3399cc;
  --paris-color: #33cccc;
  --belgrade-color: #996699;
  --kyiv-color: #c24747;
  --telaviv-color: #e2674a;
  --cair-color: #ffcc66;
  --newyork-color: #99cc99;
  --newdelhi-color: #669999;
  --sanfrancisco-color: #cc6699;
  --tokyo-color: #339966;
  --sydney-color: #666699;
  --white: #fff;
  --border-color: #2b81ac;
  --max-width: 990px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 24px solid var(--border-color);
  background-color: var(--main-color);
  font-family: Arial, Helvetica, sans-serif;
  padding: 32px;
}

.header {
  margin: 0 auto;
  max-width: var(--max-width);
  margin-bottom: 32px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
}

.main {
  margin: 0 auto 32px;
  max-width: var(--max-width);
  background-color: white;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid var(--white);
}

.list__item {
  width: 25%;
}

.list__item:nth-child(1) {
  background-color: var(--lisabon-color);
  width: 50%;
}
.list__item:nth-child(2) {
  background-color: var(--paris-color);
}
.list__item:nth-child(3) {
  background-color: var(--belgrade-color);
}
.list__item:nth-child(4) {
  background-color: var(--kyiv-color);
}
.list__item:nth-child(5) {
  background-color: var(--telaviv-color);
}
.list__item:nth-child(6) {
  background-color: var(--cair-color);
}
.list__item:nth-child(7) {
  background-color: var(--newyork-color);
}
.list__item:nth-child(8) {
  background-color: var(--newdelhi-color);
}
.list__item:nth-child(9) {
  background-color: var(--sanfrancisco-color);
  width: 50%;
}
.list__item:nth-child(10) {
  background-color: var(--tokyo-color);
}
.list__item:nth-child(11) {
  background-color: var(--sydney-color);
  width: 100%;
}
.list:hover .list__item:not(:hover) {
  opacity: 0.5;
}
.city {
  border: 2px solid var(--white);
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  cursor: pointer;
}
.city__name {
  color: var(--white);
  font-weight: 700;
  margin-bottom: 12px;
}

.city__deg {
  font-weight: 400;
  font-size: 24px;
  color: var(--white);
  margin-right: 10px;
}
.city__row {
  display: flex;
  align-items: center;
}
.city__icon {
  color: var(--white);
  font-size: 28px;
}
.footer {
  margin: 0 auto;
  max-width: var(--max-width);
  color: var(--white);
}
