.section-contact {
    background-image: url(../images/footer.png);
    background-size: cover;
    background-position: center center;
    position: relative;
    &__title {
      padding-top: 100px;
      @include text($H900, 700);
      margin-bottom: 48px; 
      text-align: center;
  
    }
    &__description {
      @include text($H200, 300);
      max-width: 350px;
      margin: 0 auto 46px;
      text-align: center;
    }
    &__container {
      @include flex(flex-start, stretch, column);
      padding-top: 70px;
      padding-bottom: 70px;
      @media screen and (min-width: $screen-desktop) {
        flex-direction: row;
      }
    }
    &__form-side {
      width: 100%;
      padding-bottom: 30px;
      @media screen and (min-width: $screen-desktop) {
        width: 50%;
      }
    }
    &__input {
      min-height: 38px;
      min-width: 100%;
      background-color: $about-bg-color;
      opacity: 0.5;
      color: $white;
      border: none;
      @media screen and (min-width: $screen-tablet){
      min-width: 500px;
      min-height: 50px;
      }
    }
  
  &__input-wrapper {
    padding-bottom: 15px;
    color: $white;
  }
    &__contacts-side {
      width: 100%;
      padding-left: 90px;
      @media screen and (min-width: $screen-desktop) {
        width: 50%;
        margin-bottom: 0;
      }
    }
    &__text-larg {
      @include text($H300, 700)
    }
    &__text {
      @include text($H200, 300)
      line-height: 45px;
    }
  }
  .input--white::-webkit-input-placeholder {
    color: $white;
  }
